{{!-- Login page is the home/index page --}}
<img class="paycargo-img" src ="https://res.cloudinary.com/deepjfoly/image/upload/v1696528906/mediaquery-project/PayCargo_Logo_-_Grey_qlfooy.svg">
<div class="image-container">
<img class="home-img" src="https://res.cloudinary.com/deepjfoly/image/upload/v1696515174/mediaquery-project/Onboarding_-_Image_background_1_btiqzm.jpg">
</div>
<div id="form">
  <h2 class="h2forlogin">Level up your business with our financial education platform</h2>

  <form action="/auth" method="POST">

    <label> 
      <input class="input2" type="email" name="email" placeholder="Email"/>
    </label>

    <label>
      <input class="input2" type="password" name="password" placeholder="Password"/>
    </label>

    <button class="input2" type="submit">Sign in</button>

    <a class="login-create"href = "/auth/signup" ><h4>or<br>Create Account<br></h4></a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>