{{!-- Login page is the home/index page --}}

<div id="form">
  <h2>Level up your business with our financial education platform</h2>

  <form action="/auth" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

    <a href = "/auth/signup" ><h4>or<br>Create Account<br></h4></a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>