{{!-- Login page is the home/index page --}}
<div class="image-container">
<img class="home-img" src="https://res.cloudinary.com/deepjfoly/image/upload/v1696515174/mediaquery-project/Onboarding_-_Image_background_1_btiqzm.jpg">
</div>

<div id="form">
  <p class="name">PayCargo Acadamy</p>
  <h2>First access? Create an account to start studying with PayCargo</h2>

  <form action="/auth/signup" method="POST">

    <div class="input-wrapper">
    <label>Full Name</label>
    <input type="text" name="fullName" placeholder="Jane Smith" />
</div>

<div class="input-wrapper">
    <label>Email</label>
    <input type="text" name="email" placeholder="rockstar@ironhack.com" />
</div>

<div class="input-wrapper">
    <label>Password</label>
    <input type="password" name="password" placeholder="********" />
</div>


    <button type="submit">Create account</button>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  </form>
</div>

