<div class="delete-body"></div>

 <div class="profile-container">

    <h2 class="delete-account-question-text">Are you sure you want to delete your account?</h2>

    <form action="/user/profile/delete" method="POST">

      <label class="delete-confirm-text" for="confirmation">Type <b>"delete"</b> in lowercase to confirm
        <input class="delete-input-field" type="text" name="delete" />
      </label>

      <button class="delete-account-button" type="submit">Delete account</button>

    </form>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </div>

</div>