
{{#if user}}
  <h2>Your Profile</h2>
  <hr>

  <h4>{{user.fullName}} </h4>
  <img src={{user.imageurl}} alt="user">

{{!-- <button onclick="nameFunction()">Change name</button>

<script>
function nameFunction() {
    let newFirstName = prompt("First name:")
    let newLastName = prompt("Last name:");
}
</script> --}}

<hr>

<h4>Login Details</h4>
<p>Your email is: {{user.email}}</p>



<hr>
<br>
  {{!-- <button>
    <a href="/class/all-classes">Confirm changes</a>
  </button> --}}
<a href="/user/update-profile">edit profile</a>
  {{!-- <button>
    <a href="">Delete account</a>
  </button> --}}


{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}



{{!-- Placeholder for profile picture
Add profile picture
Name
Email
Password
Update
Delete
Edit
 --}}

  {{!-- <button>
    <a href="">Change picture</a>
  </button>
  <button>
    <a href="">Change name</a>
  </button> --}}

  {{!-- <button>
    <a href="/user/update-profile">Change email</a>
  </button>
  <button>
    <a href="/user/update-profile">Change password</a>
  </button> --}}