<div id="form">
  <h2>Update personal information</h2>
  <form action="/user/update" method="POST" enctype="multipart/form-data">

    <label> Full name
      <input type="text" name="fullName" value="{{user.fullName}}"/>
    </label>

  

<label> Profile picture
  <input type="file" name="imageurl">
</label>

    <button type="submit">Submit changes</button>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  </form>
</div>