<h2>All Classes</h2>

    {{#each classes}}

        <div>


            <h3>{{title}}</h3>
            {{!-- <img src="" alt=""> --}}
            <img src={{videoImg}} alt="class">
            <form action="/class/single-class/{{_id}}" method="POST">
                <button type="submit">Learn</button>
            </form>

            <div id="grid-container"></div>


            {{!-- <a href="/class/single-class/{{_id}}">see class details</a> --}}
            </div>


    {{/each}}
