<h2>All Classes</h2>

{{#each classes}}

    <div>

        <h3>{{name}}</h3>
        <div id="grid-container">
        <img src='https://media.edutopia.org/styles/responsive_2880px_16x9/s3/masters/2021-04/istockphoto-1210929329-crop.jpg' alt="class">

        {{!-- <a href="/class/single-class/{{_id}}">see class details</a> --}}

    </div>

{{/each}}