<h2>All Classes</h2>

{{#each classes}}

    <div>

        <h3>{{name}}</h3>
        <img src={{imageUrl}} alt="class">

        <a href="/rooms/details/{{_id}}">see details</a>

        <hr>
    </div>

{{/each}}