body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  background: linear-gradient(126deg, #473BF0 30.73%, #0094D9 86.27%);
}

#grid-container {
  position: fixed;
  left: 30%;
  top: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Optional: spacing between grid items */
}

#grid-container img {
  width: 100%;
  border: 2px solid blue;
  border-radius: 10px;
  height: auto; /* Maintains the image's aspect ratio */
}

.name{
  color: black;
}
body{
  background: linear-gradient(126deg, #473BF0 18.73%, #0094D9 43.27%);
}

.input-wrapper {
  display: grid;
  gap: 5px; /* Spacing between the label and input */
}

label {
  justify-self: baseline; /* Aligns the label to the right of its cell */
  grid-row: 1; /* Ensures the label is in the first row */
}

input {
  height: 35px;
  width: 320px;
  border-radius: 6px;
  grid-row: 7; /* Ensures the input field is in the second row */
}



#form {
  width: 35%;
  margin-left: 15px;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

#form h2 {
  margin-bottom: 20px;
}

#form label {
  display: block;
  margin-bottom: 15px;
}

#form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
}

#form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  margin-top: 15px;
}

#form a {
  display: block;
  text-align: center;
  margin-top: 15px;
}

#form h4 {
  margin: 0;
}
img{
  height: 30vh;
  border-radius: 40%;
}



